.About{
    background: #FFFFFF;
    padding: 40px 5% 0;
}

.About .accueil{
    text-decoration: none;
}

.About .apropos{
    text-decoration-line: underline;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10% 201px;
}

.About .bannerAboutImage{
    z-index: 99;
    opacity: 1;
}

.About .bannerContainer p{
    opacity: 0;
}

@media only screen and (max-width: 768px)
{
    .About{
        padding: 20px 3%;
    }

    .aboutSection{
        margin-bottom: 156px;
    }

    .About .bannerContainer{
        width: 100%;
        height: 223px;
    }

    .About .bannerMobileImage{
        opacity: 0;
    }
}