.bannerContainer{
position: relative;
max-width: 1240px;
width: 100%;
height: 223px;
}

.bannerBackground{
position: absolute;
background: #000000;
mix-blend-mode: darken;
opacity: 0.3;
border-radius: 25px;
width: 100%;
height: 223px;
}

.bannerAboutImage{
opacity: 0;
position: absolute;
max-width: 1240px;
width: 100%;
height: 223px;
border-radius: 25px;
}

.bannerMobileImage{
opacity: 0;
position: absolute;
max-width: 1240px;
width: auto;
height: 223px;
border-radius: 25px;
}

.bannerImage{
position: absolute;
max-width: 1240px;
width: 100%;
height: 223px;
border-radius: 25px;
}

.bannerContainer p{
position: absolute;
left: 20%;
right: 20%;
top: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 142.6%;

/* or 68px */
display: flex;
align-items: flex-end;

color: #FFFFFF;
}


@media only screen and (min-width: 768px) and (max-width: 1070px)
{
    .bannerContainer p{
        font-size: 36px;
    }
}

@media only screen and (max-width: 768px)
{
    .bannerContainer{
        width: 100%;
        height: 111px;
    }

    .bannerBackground{
        width: 100%;
        height: 111px;
        
        background: #000000;
        mix-blend-mode: darken;
        opacity: 0.3;
        border-radius: 10px;
    }

    .bannerImage{
        opacity: 0;
    }

    .bannerContainer p{
        position: absolute;      
left: 9.6%;
right: 32.53%;
top: 14.04%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 100%;
text-align: left;

/* or 24px */
display: flex;
align-items: flex-end;

color: #FFFFFF;
    }

    .bannerMobileImage{
        opacity: 1;
        width: 100%;
        height: 111px;
        border-radius: 10px;
    }
}
