.dropdown{
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
margin-top: 31px;
margin-bottom: 14px;
max-width: 1023px;
}

.dropTitleContainer{
position: relative;
background: #FF6060;
border-radius: 5px;
display: flex;
justify-content: space-between;
text-align: center;
height: 47px;
}

.fa-chevron-up, .fa-chevron-down
{
position: absolute;
right: 16.86px;
top: 15px;
bottom: 78.3%;
color: #FFFFFF;
}

.dropTitle{
position: absolute;
left: 1.77%;
top: 7px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;

/* or 34px */
display: flex;
align-items: center;

color: #FFFFFF;
}

.dropContentContainer{
background: #F7F7F7;
border-radius: 5px;
max-width: 1023px;
}

.dropContent{

text-align: left;
margin: 30px 20px 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 142.6%;

/* or 26px */

color: #FF6060;
}

.dropContent ul
{
    list-style: none;
    margin-left: -40px;
}

@media only screen and (max-width: 768px)
{
    .dropdown{
        margin: 20px 0 0 0;
    }

    .dropTitleContainer{
        height: 30px;
        }

    .fa-chevron-up, .fa-chevron-down{
        position: absolute;
        top: 9px;
        right: 10.26px;
        font-size: smaller;
    }

    .dropTitle{
        position: absolute;
        left: 3.44%;
        right: 79.55%;
        top: 18.32%;
        bottom: 18.2%;
        font-size: 13px;
    }

    .dropContent{
        font-size: 12px;
        margin: 17px 7px 11px;
    }
}