header{
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
}

.accueil{
    margin-left: -30%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    
    /* or 34px */
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    
    color: #FF6060;
}

.apropos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    
    /* or 34px */
    display: flex;
    align-items: flex-end;
    text-align: right;
    
    color: #FF6060;
    text-decoration: none
}

/* PORTABLE */

@media only screen and (max-width: 768px)
{
    header img{
        height: 47px;
        width: 145px;
    }

    nav{
        width: 140px;
    }

    .accueil{
        margin-left: 10%;
        font-size: 12px;
        text-decoration-line: underline;
    }

    .apropos{
        font-size: 12px;
    }
}