body{
    margin: 0;
    padding: 0;

}

.App{
    background: #FFFFFF;
    padding: 40px 5% 0;
}


main{
    max-width: 1240px;
    width: auto;
    margin-top: 63px;
    position: relative;
}


@media only screen and (max-width: 768px)
{
    .App{
        padding: 20px 3%;
    }
}