.Housing{
    background: #FFFFFF;
    padding: 40px 5% 14px;
    }

.Housing .accueil{
    text-decoration: none;
}

.sectionHousing{
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;  
}    

.titleTagContainer{
    display: flex;
    flex-direction: column;
}

.titleContainer{
    display: flex;
    flex-direction: column;
}
    
.titleContainer h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    text-align: left;
    /* or 51px */
    display: flex;
    align-items: flex-end;
    
    color: #FF6060;
}
    
.titleContainer div{
    margin-top: -30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    
    /* identical to box height, or 26px */
    display: flex;
    align-items: flex-end;
    
    color: #FF6060;
}

.tagPosition{
    margin-top: 20px;
    min-width: 115px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
    
.tagContainer{
    background: #FF6060;
    width: auto;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3px 20px;
    margin-bottom: 5px;
    }
    
.tagText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    
    /* identical to box height, or 20px */
    text-align: center;
    
    color: #FFFFFF;
    }

.ownerRatingContainer{
    display: flex;
    flex-direction: column;
}

.ownerContainer{
    display: flex;
    margin-top: 24px;
}

.ownerName{
    margin-top: 8px;
    margin-right: 10px;
    width: 93px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    
    /* or 26px */
    display: flex;
    align-items: flex-end;
    text-align: right;
    
    color: #FF6060;
}

.ownerPicture{
    width: 64px;
    height: 64px;
    
    background: #C4C4C4;
    border-radius: 50px;
}

.ratingContainer{
    margin-top: 24px;
    width: 196px;
    height: 36px;
    }

.ratingContainer i{
    margin: 0 6px;
    font-size: x-large;
}

.ratingContainer .orange{
    color: #FF6060;
}
    
.ratingContainer .grey{
    color: #E3E3E3;
}

.dropContainer{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin-top: -14px;
}

.equipementContainer{
    width: 47%;
}

.equipementContainer .dropTitleContainer{
    border-radius: 10px;
}

.equipementContainer .dropTitle{
    font-size: 18px;
}

.equipementContainer .dropContentContainer{
    border-radius: 10px;
}

.equipementContainer .dropContent{
    font-size: 18px;
}

.descriptionContainer{
    width: 47%;
}

.descriptionContainer .dropTitleContainer{
    border-radius: 10px;
}

.descriptionContainer .dropTitle{
    font-size: 18px;
}

.descriptionContainer .dropContentContainer{
    border-radius: 10px;
}

.descriptionContainer .dropContent{
    font-size: 18px;
}


@media only screen and (max-width: 768px)
{
    .Housing{
        padding: 20px 3%;
    }

    .content{
        flex-direction: column;
    }

    .titleContainer h1{
        font-size: 18px;
    }

    .titleContainer div{
        font-size: 14px;
        margin-top: -10px;
    }

    .tagPosition{
        margin-top: 10px;
        min-width: 84px;
    }

    .tagContainer{
        border-radius: 5px;
    }

    .tagText{
        font-size: 10px;
    }

    .ownerRatingContainer{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .ownerContainer{
        margin: 13px 0;
        width: 93px;
    }

    .ownerName{
        font-size: 12px;
        margin: -18px 10px 0;
    }

    .ownerPicture{
        width: 32px;
        height: 32px;
        
        background: #C4C4C4;
        border-radius: 50px;
    }

    .ratingContainer{
        margin-top: auto;
    }

    .ratingContainer i{
        font-size: 15px;
        margin-right: 0px;
    }

    .dropContainer{
        flex-direction: column;
        margin-bottom: 64px;
    }

    .descriptionContainer{
        width: 100%;
    }

    .equipementContainer{
        width: 100%;
    }

    .descriptionContainer .dropTitleContainer{
        border-radius: 5px;
    }

    .descriptionContainer .dropTitle{
        font-size: 13px;
    }

    .descriptionContainer .dropContentContainer{
        border-radius: 5px;
    }

    .descriptionContainer .dropContent{
        font-size: 12px;
    }

    .equipementContainer .dropTitleContainer{
        border-radius: 5px;
    }

    .equipementContainer .dropTitle{
        font-size: 13px;
    }

    .equipementContainer .dropContentContainer{
        border-radius: 5px;
    }

    .equipementContainer .dropContent{
        font-size: 12px;
    }
}