.slider{
    position: relative;
    max-width: 1240px;
    width: 100%;
    height: 415px;
}

.houseImages{
    width: 100%;
    height: 415px;
    mix-blend-mode: normal;
    border-radius: 25px;
}

.fa-chevron-left{
    font-size: 79px;
    position: absolute;
    top: 157px;
    left: 23.36px;
    z-index: 5;
    color: white;
}

.fa-chevron-right{
    font-size: 79px;
    position: absolute;
    top: 157px;
    right: 23.36px;
    color: white;
    z-index: 5;
}

.imageNumber{
    z-index: 5;
    position: absolute;
    left: 48.95%;
    right: 49.11%;
    top: 86.19%;
    bottom: 6.01%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    
    /* or 26px */
    display: flex;
    align-items: flex-end;
    text-align: center;
    
    color: #FFFFFF;
}

@media only screen and (max-width: 768px)
{
    .slider{
        margin-top: 27px;
        width: 100%;
        height: 255px;
    }

    .houseImages{
        width: 100%;
        height: 255px;
        border-radius: 10px;
    }

    .fa-chevron-left{
        font-size: 24px;
        position: absolute;
        top: 118px;
        left: 5.64px;
        z-index: 5;
        color: white;
    }   

    .fa-chevron-right{
        font-size: 24px;
        position: absolute;
        top: 118px;
        right: 5.84px;
        z-index: 5;
        color: white;
    }

    .imageNumber{
        z-index: -1;
    }
}